#aboutUs {
    display: flex;
}

.cardSmall {
    height: 460px;
    /* margin-top: auto; */
    margin-bottom: 50px;
    margin: 20px;
    width: 400px;
    background-color: white;
  }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

html, body{
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-dark-blue-technology-background-with-digital-network-lines-and-illustration-of-picture-image_1238300.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: 'Numans', sans-serif;
}

