#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

html, body{
    background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-dark-blue-technology-background-with-digital-network-lines-and-illustration-of-picture-image_1238300.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.cardLarge {
    height: 50%;
    margin-top: 10%;
    margin-bottom: auto;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }

#userLabel {
    color: white;
}

.chatContainer {
    width: 90%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: white;
}

h1 {
    text-align: center;
    margin-top: 50px;
}