<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
  background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-dark-blue-technology-background-with-digital-network-lines-and-illustration-of-picture-image_1238300.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}


.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
=======
@import url('https://fonts.googleapis.com/css?family=Numans');

html, body {
  background-image: url('https://png.pngtree.com/background/20210714/original/pngtree-dark-blue-technology-background-with-digital-network-lines-and-illustration-of-picture-image_1238300.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}


.input-group-prepend span {
  width: 50px;
  background-color: #FFC312;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;

}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #FFC312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

/* //chatroom style */

body {
  margin: 20px auto;
  font-family: "Lato";
  font-weight: 300;
}

form {
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

form label {
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  font-family: "Lato";
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper,
#loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: 600px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
}

#loginform {
  padding-top: 18px;
  text-align: center;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 300px;
  width: 530px;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}

#usermsg {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #ff9800;
}

#name {
  border-radius: 4px;
  border: 1px solid #ff9800;
  padding: 2px 8px;
}

#submitmsg,
#enter {
  background: #ff9800;
  border: 2px solid #e65100;
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}

.error {
  color: #ff0000;
}

#menu {
  padding: 15px 25px;
  display: flex;
}

#menu p.welcome {
  flex: 1;
}

a#exit {
  color: white;
  background: #c62828;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.msgln {
  margin: 0 0 5px 0;
}

.msgln span.left-info {
  color: orangered;
}

.msgln span.chat-time {
  color: #666;
  font-size: 60%;
  vertical-align: super;
}

.msgln b.user-name, .msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: white;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.msgln b.user-name-left {
  background: orangered;
>>>>>>> 188559557c9af10da0c08d868c67f59ef727a926
}